/* ===== Global ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-title: #36201E;
    --text-subtitle: #5B5757;
    --text-footer: #AAA9AE;
    --color-button: #AA8244;
    --color-button-hover: #bd8839;
    --background-newsletter: #B38A4C;
    --background: #f7f7f7;
    --shape: #fff;
    --black: #000;
}

@media (max-width: 1440px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {

    html {
        font-size: 87.5%; 
    }
}

@media(max-width: 400px) {
    html {
        font-size: 81.125%;
    }
}

@media(max-width: 350px) {
    html {
        font-size: 75%;
    }
}

body {
    font-family: Poppins;
    background: var(--background);
    height: 100vh;
}


h1, strong {
    font-weight: 700;
    color: var(--text-title);
}

h2 {
    font-weight: 500;
    color: var(--text-subtitle);
}

h3 {
    font-weight: 500;
}

input, button {
    border: 0;
    outline: 0;
}

button {
    background: var(--color-button);
    color: var(--shape);
    font-family: Poppins;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-button-hover);
}

img {
    max-width: 100%;
    height: auto;
}

i {
    font-size: 36px;
}

li {
    list-style: none;
}